{% ckan_extends %}
{% block links -%}
  {{ super() }}
  <link rel="icon" href="http://www.nsw.gov.au/sites/default/files/nswworks_favicon.ico" />
{% endblock -%}
{% block styles %}
  {{ super() }}
  {% resource 'ckanext-nsw/styles/nsw.css' %}
      <!--[if lt IE 9]>
      <style>
            .media-item {width: 92%;}
            .organisation .media-item {width: 43%;text-align: center;min-height: 200px;}
            .media-item .media-image {float: right;}
            .organisation .media-item .media-image {float: none;}
            </style>
      <![endif]-->
{% endblock %}
{% block scripts %}
{{ super() }}
{% resource 'ckanext-nsw/js/nsw.js' %}
    {% endblock %}
      