{% ckan_extends %}
  {% block footer_links %}
  <li><a href="/accessibility">Accessibility</a></li>
  <li><a href="/contact">Contact</a></li>
  <li><a href="/copyright">Copyright</a></li>
  <li><a href="http://www.services.nsw.gov.au/ict/">ICT Strategy</a></li>
  <li><a href="/privacy">Privacy</a></li>
  <li><a href="http://www.jobs.nsw.gov.au/">Jobs.NSW</a></li>
  {% endblock %}
{% block footer_lang %}
{% endblock %}
{% block footer_links_ckan %}
<li><a href="http://docs.ckan.org/en/latest/api/index.html">{{ _('CKAN API') }}</a></li>
<li><a href="http://www.okfn.org/">{{ _('Open Knowledge Foundation') }}</a></li>
<li><a href="http://www.opendefinition.org/okd/"><img src="https://assets.okfn.org/images/ok_buttons/od_80x15_blue.png" alt="Open Data"></a></li>
{% endblock %}
