{% ckan_extends %}
{% block header_wrapper %}
<a href="#main_content" class="skip-link">Skip to main content</a>
         {{ super() }}
         {% endblock %}

{% block header_account %}
  <header class="account-masthead">
    <div class="container">
      {% block header_account_container_content %}
        {% if c.userobj %}
          <div class="account avatar authed" data-module="me" data-me="{{ c.userobj.id }}">
            <ul class="unstyled">
              {% block header_account_logged %}
              {% if c.userobj.sysadmin %}
              {{ h.build_nav_main(
              ('search', _('Datasets')),
              ('organizations_index', _('Organizations')),
              ('group_index', _('Groups')),
              ('about', _('About'))
              ) }}
                <li>
                  <a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}">
                    <i class="fa fa-legal"> Sysadmin</i>
                  </a>
                </li>
              {% endif %}
              <li>
                <a href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
                  {{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=22) }}
                  <span class="username">{{ c.userobj.display_name }}</span>
                </a>
              </li>
              {% set new_activities = h.new_activities() %}
              <li class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">
                {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities) %}
                <a href="{{ h.url_for(controller='user', action='dashboard') }}" title="{{ notifications_tooltip }}">
                  <i class="fa fa-dashboard"> Dashboard</i>
                  <span>{{ new_activities }}</span>
                </a>
              </li>
              {% block header_account_settings_link %}
                <li>
                  <a href="{{ h.url_for(controller='user', action='edit', id=c.userobj.name) }}" title="{{ _('Edit settings') }}">
                    <i class="fa fa-cog"> Settings</i>
                  </a>
                </li>
              {% endblock %}
              {% block header_account_log_out_link %}
                <li>
                  <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
                    <i class="fa fa-sign-out"> Log out</i>
                  </a>
                </li>
              {% endblock %}
              {% endblock %}
            </ul>
          </div>
        {% else %}
          <nav class="account not-authed">
            <ul class="unstyled">
              {{ h.build_nav_main(
              ('search', _('Datasets')),
              ('organizations_index', _('Organizations')),
              ('group_index', _('Groups')),
              ('about', _('About'))
              ) }}
              {% block header_account_notlogged %}
              <li><li>{% link_for _('Data Owner Login'), controller='user', action='login' %}</li></li>

              {% endblock %}
            </ul>
          </nav>
        {% endif %}
      {% endblock %}
    </div>
  </header>
{% endblock %}
{% block header_logo %}
  <a class="logo" href="/"><img src="{{ h.url_for_static('/images/logo.png') }}" alt="{{ g.site_title }}" /></a>
{% endblock %}
{% block header_site_navigation_tabs %}
  <li><a href="https://data.nsw.gov.au/contact">Request a dataset</a></li>
  <li><a href="https://www.digital.nsw.gov.au/sites/default/files/Upload%20a%20Dataset%20and%20Data%20Resource.pdf">Upload a dataset</a></li>
  <li><a href="https://www.digital.nsw.gov.au/">Visit digital.nsw</a></li>
  <li><a href="https://marketplace.data.nsw.gov.au/browse">Visit dMarketplace</a></li>
{% endblock %}
