
{% set intro = g.site_intro_text %}

<div class="module-content box">
    <header>
        <h1 class="page-heading">Data.NSW - your government, your data. <br />
        <a href="https://marketplace.data.nsw.gov.au/browse">dMarketplace</a> – we are building a new data portal for NSW Government.</h1>
    </header>

    {% block home_image %}
    <section class="featured media-overlay hidden-phone">
        <img src="{{ h.url_for_static('/images/background.jpg') }}" width="420" height="220" alt=" "/>
    </section>
    {% endblock %}
</div>
