{% ckan_extends %}
{% block page_heading %}
    {{ super() }}
    {#% snippet 'package/snippets/rating-stars.html', rating=pkg.five_star_rating|default(0) %#}
{% endblock %}


{% block package_description %}

    <h3>{{ _('Explore Metadata') }}</h3>
    {% if h.get_pkg_dict_extra(pkg,'harvest_source_title') %}
        <span class="dataset-private label label-inverse">
        <i class="fa fa-link"></i>
        From {{h.get_pkg_dict_extra(pkg,'harvest_source_title') }}
        </span>
    {% endif %}

    <a class="au-btn" href="{{ h.url_for(controller='api', action='action', logic_function='package_show', ver=3, id=c.pkg.id) }}">JSON</a>
    &nbsp;
    <a class="au-btn" href="{{ h.url_for('dataset_read', id=c.pkg.id) }}.rdf">RDF</a>
    &nbsp;
    <a class="au-btn" href="{{ h.url_for('dataset_read', id=c.pkg.id) }}/gmd">ISO19115/ISO19139 XML</a>

{% endblock %}