{% ckan_extends %}

{% block subtitle %}{{ _("Datasets") }} - Page {{c.page.page}} {% endblock %}
{% block page_primary_action %}
  <div class="page_primary_action" width="100%">
    {% if h.check_access('package_create') %}
      <a class="btn btn-primary" href="{{ h.url_for(controller='package', action='new') }}"><i class="fa fa-plus"></i>{{ _('Add Dataset')}}</a>
    {% endif %}
    <a style="float:right" class="btn btn-primary" href="/data/summary.csv"><i class="fa fa-download"></i>Download Summary Table</a>
  </div>
{%  endblock %}
